*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.topmargin{
    border: 1px solid transparent;
    width: 100vw;
    height: 13.5vh;
    position: absolute;
}
.midsec{
    padding: 14px;
    border: 1px solid black;
    width: 40vw;
    height: 70vh;
    margin-top: 100px;
}
.midsec h3{
    text-align: center;
    font-size: 27px;
    margin-bottom: 17px;
}
.stack{
    border: 1px solid rgba(rgb(202, 202, 202), rgb(202, 202, 202), rgb(202, 202, 202), 0.5);
    background-color: rgba(rgb(202, 202, 202), rgb(202, 202, 202), rgb(202, 202, 202), 0.5);
    padding-top: 40px;
    padding-bottom: 150px;
}
.usericon1{
    position: fixed;
    border: 1px solid black;
    padding: 2px;
    margin-left: 95px;
    padding: 9;
    width: 38.6px;
    height: 38.6px;
    border-top-left-radius: 4.8px;
    border-bottom-left-radius: 4.8px;
}
.usericon2{
    position: fixed;
    border: 1px solid black;
    padding: 2px;
    margin-left: 35px;
    padding: 2;
    width: 32.5px;
    height: 32.2px;
    border-top-left-radius: 4.8px;
    border-bottom-left-radius: 4.8px;
}
.box{
    border-left: transparent;
    margin-left: 22.8%;
    margin-bottom: 13px;
    padding-left: 7px;
    width: 60%;
    height: 7.9%;
    border: 1px solid rgb(144, 144, 144);
    border-top-right-radius: 4.8px;
    border-bottom-right-radius: 4.8px;
    transition: 0.18s ease-in-out;
}
.signupbtn{
    margin-left: 95px;
    border: 1px solid black;
    width: 190px;
    height: 30px;
    border-top-left-radius: 4.8px;
    border-bottom-left-radius: 4.8px;
}
.loginbtn{
    width: 196px;
   height: 30px;
   border: 1px solid black;
   border-top-right-radius: 4.8px;
   border-bottom-right-radius: 4.8px;
   transition: 0.2s ease-in;
}
